
*{
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background: black;
  color: white
  }
  .agrey{
    color: white;
    opacity: 1
  }
.container0{
  display: flex;
  height: 250px;
  width: 100%;
  border: black;
}
.box0{
  /* background: yellow; */
  height: 250px;
  /* font-size: 80px; */
  width: 100%;
}
bp{
  font-size: 80px;
}
bp1{
  font-size: 25px;
}
.nav{
  display: flex;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  /* border: white; */
  text-align: center;
}
.boxa{
  /* background: blue; */
  height: 250px;
  font-size: 30px;
  width: 20%;
  margin-top: 100px;
}
.container{
display: flex;
height: 250px;
width: 100%;
justify-content: flex-end;
/* border: white; */
}
.box{
  /* background: green; */
  height: 130px;
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
p1{
  font-size: 30px;
  margin-top: 50px;
  /* border: white */
}
.nav2{
  /* background: red; */
  height: 250px;
  width: 100%;
}
.container1{
display: flex;
height: 250px;
width: 100%;
justify-content: flex-start;
/* border: white; */
}
.box1{
  /* background: red; */
  height: 100%;
  width: 100%;
}
.nav3{
  height: 250px;
  width: 100%;
  /* background: pink; */
  height: 130px;
  text-align: center;
  margin-top: 105px;
}
p2{
  font-size: 30px;
  /* border: white */
}
.b1{
  height: 250px;
  width: 100%;
  object-fit: cover;
  border: solid black
}
.b2{
  height: 250px;
  width: 100%;
  object-fit: cover;
  /* border: solid black; */
}
.box1:hover .b2{
  opacity: .5
}
.nav2:hover .b1{
  opacity: .5
}
