.backg1{
  opacity: .1;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section  */
{
    display: block;
}
body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.title {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 42px;
}


img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
.nav{
  position: absolute;
  top: 18px;
  left: 16px;
  width: 50%;
  height: 100px;
}
.home{
  position: absolute;
  top: 60px;
  left: 16px;
  font-size: 20px;

}
.ux{
  position: absolute;
  top: 120px;
  left: 16px;
  font-size: 20px;
}
.js{
  position: absolute;
  top: 145px;
  left: 16px;
  font-size: 20px;
  margin-top: 35px
}
.react{
  position: absolute;
  top: 170px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}
.contact{
  position: absolute;
  top: 230px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}
.resume{
  position: absolute;
  top: 290px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}
.linkedin{
  position: absolute;
  top: 350px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}
.github{
  position: absolute;
  top: 410px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}
.email{
  position: absolute;
  top: 470px;
  left: 16px;
  font-size: 20px;
  margin-top: 70px
}


.text{
  color: black;
  opacity: .6;
  text-decoration: none;
  left: 5px;
}

/* contact */

.inf {
  display: flex;
  justify-content: space-between;
}
.in {
  padding: 5px;
  width: 50px;
  height: 50px;
  margin-top: 50px;
}

.containerabout{
  display: flex
}
.abouttext{
  margin: 170px 0px 0px 13%;
  height: 250px;
  width: 75%;
  font-size: 25px
}





/* MEDIA QUERY ///////  */

@media screen and (max-width: 1250px) {
  .title {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 32px;
  }
  .nav{
    position: absolute;
    top: 18px;
    left: 16px;
    font-size: 34px;
    width: 50%;
    height: 100px;
  }
  .ux{
    position: absolute;
    top: 50px;
    left: 16px;
    font-size: 17px;
  }
  .js{
    position: absolute;
    top: 75px;
    left: 16px;
    font-size: 17px;
    margin-top: 35px
  }
  .react{
    position: absolute;
    top: 100px;
    left: 16px;
    font-size: 17px;
    margin-top: 70px
  }
  .contact{
    position: absolute;
    top: 160px;
    left: 16px;
    font-size: 17px;
    margin-top: 70px
  }
  .text{
    color: black;
    opacity: .6;
    text-decoration: none;
    left: 5px;
  }
}
